:root{
    --Light-Cyan-: 193, 38%, 86%;
    --Neon-Green-: 150, 100%, 66%;
    --Grayish-Blue-: 217, 19%, 38%;
    --Dark-Grayish-Blue-: 217, 19%, 24%;
    --Dark-Blue-: 218, 23%, 16%;
}

*, *::after, *::before{
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

body{
    background: hsl(var(--Dark-Blue-));
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 30%;
    border-radius: 5px;
    background: hsl(var(--Dark-Grayish-Blue-));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px 50px;
    position: relative;
}

.container > h5{
    color: hsl(var(--Neon-Green-));
    letter-spacing: 5px;
    font-size: 10px;
    margin-bottom: 25px;
    font-weight: 900;
}

.container > p{
    color: hsl(var(--Light-Cyan-));
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.container > img{
    width: 100%;
}

.clicker{
    position: absolute;
    bottom: -23px;
    background: hsl(var(--Neon-Green-));
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicker:hover{
    transform: scale(1.2);
}

@media (320px <= width <= 500px){
    body{
        padding: 15px;
    }
    .container{
        width: 100%;
    }

}